@model Sync_Task1.ViewsModels.BugDeveloperViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Bug</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if(ViewBag.message != null)
        {
            <h5 class="alert alert-danger">@ViewBag.message</h5>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="priority" class="control-label">priority (from 1 to 5)</label>
                <input asp-for="priority" class="form-control" />
                <span asp-validation-for="priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="developerID" class="control-label">Developer</label>
                <select asp-for="developerID" class="form-control" placeholder="select"
                asp-items="@(new SelectList(Model.developers,"id" , "Name"))"></select>
                <span asp-validation-for="developerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="solutionID" class="control-label">Solution</label>
                <select asp-for="solutionID" class="form-control"
                asp-items="@(new SelectList(Model.solutions,"id" ,"Title"))"></select>
                <span asp-validation-for="solutionID" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_Validation" />
}
